/* Card Wrapper */
.card-wrapper {
  background: #242528;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.card-wrapper.dragging {
  opacity: 0.5 !important;
  z-index: 9999 !important;
}

/* Inner padding */
.card-inner {
  padding: 10px;
}

/* Edit Mode */
.edit-mode {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.edit-input {
  padding: 6px 8px;
  color: white;
  background: #222;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.edit-actions {
  display: flex;
  gap: 8px;
}

.btn-save {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #10b981;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn-cancel {
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
  font-weight: 600;
}

/* View Mode Layout */
.view-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  gap: 6px;
  align-items: center;
}

.card-title {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* Icon buttons */
.card-actions.buttons {
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #b8bdc4ff;
}

.btn-icon.delete {
  color: #ef4444;
}

.circle-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
